body{
    background-color: black;
}

.image-container img{
    max-height: 50vh;
    max-width: 50vh;
}

.navigation-icons{
    color:white !important;
    font-size: 20px;
}
.navigation-icons a{
    color:white !important;
}
.caption{
    font-family: 'Lato',sans-serif;
    color: white;
    min-height: 10vh;
    border-radius: 10px;
    width: 95%;
    background-color: gray;
}