* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: scroll;
}

.slider {
  font-family: sans-serif;
  scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
}

section {
  border-right: 1px solid black;
  padding: 1rem;
  min-width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}

h1 {
  position: absolute;
  top: 5%;
  transform: translateY(-50%);
  text-align: center;
  color: black;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}

.pagination {
  display: inline-block;
  position: fixed;
  background: rgba(33, 33, 33, 0.9);
  color: #fff;
  text-align: center;
  border-radius: 13px;
  z-index: 4;
  width: 70px;
  top: 20px;
  right: 20px;
}

.gallery {
  width: 100vw;
  /* max-height: 100vh; */
  overflow-y: scroll;
  /* scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem); */
  /* scroll-snap-type: y mandatory; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: .5em;
  vertical-align: middle;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.gallery::webkit-scrollbar {
  display: none;
}



.progress-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding-left: 10px;
}

#ProgressBar {

  width: 25px;
  margin: 0 auto;
}

.step {
  text-align: center;
}

.text {
  margin-bottom: 10px;
  color: #0011ff;
}

.bullets {
  background-color: gray;
  /* border: 1px solid #0011ff; */
  height: 15px;
  width: 15px;
  border-radius: 100%;
  color: #0011ff;
  display: inline-block;
  position: relative;
  transition: background-color 500ms;
  line-height: 20px;
}

.bullets.completed {
  color: white;
  background-color: #0011ff;
}

.bullets.completed::after {
  content: "";
  position: absolute;
  right: -18px;
  bottom: 7px;
  height: 5px;
  width: 18px;
  background-color: #0011ff;
}

span.trail {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  max-width: 78px;
}

.accordion-button {
  background-color: transparent;
}

.accordion-item {
  background-color: transparent;
  border: 0;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #47525E;
}

.welcome-text {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #5A6978;
  font-size: 25px;
}

figcaption {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 700;
}

@media (max-height: 650px) {
  #content {
    margin-top: 1rem !important;
    padding-top: 1rem !important;
    overflow-y: scroll;
  }

  #profilepic {
    margin-bottom: 1rem !important;
  }

  #container {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}

/* #lightSlider{
  height: 200px !important;
  width: 200px !important;
}

#lightSlider img{
  height: 50px !important;
  width: 50px !important;
} */